- content_for(:title, t('.title'))
%h2= t('.title')

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= t('activerecord.attributes.user.full_name')
        %th= t('activerecord.attributes.user.email')
        %th= t('activerecord.attributes.user.role')
        %th= t('activerecord.attributes.user.department')
        %th= t('activerecord.attributes.user.company')
        %th= t('activerecord.attributes.user.api_token')
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user['name'].to_s + " " + user['last_name'].to_s, user_path(user['email'].to_s)
          %td= user['email']#.email
          %td= user['role']#t  .role_i18n_key
          %td= user['department']#.department
          %td= user['company']#.company
          %td= boolean_indicator(user['status'])#.api_token?)

= link_to t('new'), new_user_path, class: 'btn btn-primary'
