- content_for(:title, t('.title'))
.authform
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form'}) do |f|
    %h4= t('.title')
    %p= t('.description')
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: 'form-control'
    = f.submit t('.submit'), class: 'btn btn-primary pull-right'
