-disabled = field[:can_edit] ? '' : 'disabled'
- case field[:type]
  - when 'bool'
    = f.input(field[:name], as: :boolean, input_html: { checked: field[:value] == 'true', disabled + '' => ''  } , label: field[:label], required: false )
  - when 'datetime'
    = f.input :date_field, as: :date_picker, :label => 'Date field', input_html: {data: {date_options: {defaultDate: '2012/12/25'}}}
    / = f.input(field[:name], as: :datetime_picker, input_html: {value: field[:value], disabled + '' => ''}, label: field[:label], required: false )
  - when 'date'
    = f.input(field[:name], as: :datetime_picker, value: field[:value], input_html: {value: field[:value], disabled + '' => ''}, label: field[:label], required: false )
  - when 'string'
    = f.input(field[:name], as: :string, input_html: { value: field[:value] , disabled + '' => ''}, label: field[:label], required: false )
  - when 'float'
    = f.input(field[:name], as: :float, input_html: { value: field[:value] , disabled + '' => ''}, label: field[:label], required: false )
  - when 'int'
    = f.input(field[:name], as: :integer, input_html: { value: field[:value] , disabled + '' => ''}, label: field[:label], required: false )
  - when 'timedate'
    = f.input(field[:name], as: :datetime_picker, input_html: {value: field[:value], disabled + '' => ''}, label: field[:label], required: false )
  - when 'set'
    = f.label field[:label], field[:label]
    = dropdown_field_picker( 'order_form[' + field[:name] + ']', field[:value_set], input_html: {disabled:  disabled, selected: field[:value]})
  - when 'textarea'
    = f.input(field[:name], as: :text, input_html: {value: field[:value], disabled + '' => '', style: 'height: 115px;'}, label: field[:label], required: false )
  -when 'hidden'
    = f.input(field[:name],as: :hidden, input_html: {value: field[:value], disabled + '' => '', style: 'height: 115px;'}, label: field[:label], required: false )
  - else
    = t('error.types.undefined')