= simple_form_for('order_form',
                  url: orders_path,
                  html: { role: 'form', id: 'new_order_form'}, remote: true) do |f|
  %h3= t('Start Process')
  /  render partial: 'layouts/form_errors', locals: { record: @order }
  .form-group.string.optional
    %label.string.optional.control-label= t('Process Type')
    - unless @order[:status].present?
      = order_type_picker :order_type_id, value: @order[:code] #'ORD2'
    - if @order[:data].present?
      -prevent_migration_field = @order[:data][@order[:data].length - 1]
      - @order[:data].each do |field|
        - if field[:name] == '$preventMigration'
          -break
        = render partial: 'form_field', locals: { f: f, field: field}
    .submit-edit-form-block
      -if prevent_migration_field
        = f.input(prevent_migration_field[:name], as: :boolean, input_html: { checked: prevent_migration_field[:value] == 'true'} ,  label: prevent_migration_field[:label])
      = f.submit t('create'), class: 'btn btn-primary hbw-button pull-right'
:javascript
  $(function() {
    var a;
    Application.enableDateTimePicker();
    Application.enableOrderTypePicker(true);
    a = 0;
    $("#new_order_form").on('submit', function() {
      return $('.hbw-button').attr('disabled', true);
    });
    $("#new_order_form").on("ajax:complete", function(e, data, status, xhr) {
      var responce;
      $('.hbw-button').attr('disabled', false);
      a += 1;
      responce = JSON.parse(JSON.parse(data.responseText));
      console.log(responce);
      Application.showMessage(responce);
      console.log('Submitted' + a);
    });
    return $('.order_type-picker.right-element').change(function() {
      return $.ajax('new', {
        type: 'GET',
        dataType: 'html',
        data: {
          order_type_id: $('.order_type-picker.right-element').val(),
          partial_name: "new_form"
        },
        success: function(data, textStatus, jqXHR) {
          $('.new_order').html();
          return $('.new_order').html(data);
        }
      });
    });
  });