= form_tag(path, method: :get, class: 'form-inline') do
  .form-group
    = label_tag field, t('.search'), class: 'sr-only'
    = text_field_tag :code, field_value, placeholder: t(".#{field}"), class: 'form-control'
  = submit_tag t('.search'), class: 'btn btn-primary'
