%input#currentProcessType{type: 'hidden', value: @current}

.row.margin-top-10{ class: "user-cache-record"  }
  .col-xs-6.col-sm-6.col-md-6.col-lg-4
    %h5= t('.proces_version')
  .col-xs-12
    .table-responsive.orders-list
      %table.table.table-bordered
        %thead
          %tr
            %th.text-center= 'DB ID'
            %th.text-center= 'DB Version'
            %th.text-center= 'DB Engine'
            %th.text-center= 'Business Version'
            %th.text-center= 'Active'
            %th.text-center
        %tbody
          - @versions.each do |record|
            %tr.user-cache-data
              %td.text-center= record['camundaDbId']
              %td.text-center= record['dbVersion']
              %td.text-center= record['engine']
              %td.text-center
                = record['businessVersionInfo']['major'].to_s + '.' + record['businessVersionInfo']['minor'].to_s
              %td.text-center
                - if record['enable']
                  %input{:checked => "checked", :disabled => "disabled", :type => "checkbox"}
                -else
                  %input{:disabled => "disabled", :type => "checkbox"}
              %td.text-center
                - if record['enable']
                  %a.change-enable-status{style: 'cursor: pointer', 'data-v' => record['dbVersion']} Switch off
                - else
                  %a.change-enable-status{style: 'cursor: pointer', 'data-v' => record['dbVersion']} Switch On