/  render partial: 'layouts/form_errors', locals: { record: @order }
- content_for(:title, @order[:raw]['formTitle'])
%div.content
 = simple_form_for('order_form',
                  url: "/pcs/orders/#{@order[:raw]['taskId']}",
                  html: { role: 'form', id: 'new_order_form'}, remote: true ) do |f|
  %input{type: 'hidden', name: 'order_type_id', value: @order[:code]}
  %h3= @order[:raw]['formTitle']
  -choose_decision_field = @order[:data].last
  -prevent_migration_field = @order[:data][@order[:data].length - 2]
  - @order[:data].each do |field|
   /Exit loop when done untill migration field
   - if field[:name] == '$preventMigration'
    -break
   = render partial: 'form_field', locals: { f: f, field: field}
  .submit-new-form-block.text-center

   = f.input(prevent_migration_field[:name], as: :boolean, input_html: { checked: prevent_migration_field[:value] == 'true'} , label: "Prevent Migration")
   %div
    = dropdown_field_picker( 'order_form[' + choose_decision_field[:name] + ']', choose_decision_field[:value_set])
   %div
    %div.btn.btn-warning.unclaim
     = link_to 'Unclaim', order_path(@order[:raw]['taskId'], { unclaim: true })

    = f.submit t(params['action'] == 'new' ? 'create' : 'start'), class: 'btn btn-primary hbw-button'

:javascript
  $(document).ready(function() {
    $('.hbw-button').attr('disabled', true);
    $('.hbw-button').mousedown(function() {
      $('.hbw-button').attr('disabled', true);
      $('.unclaim').attr('disabled', true);
      $("#new_order_form").submit();
    });
    $(document).bind("ajaxSend", function() {
      $('.hbw-button').attr('disabled', true);
    }).bind("ajaxComplete", function() {});
    $("#new_order_form").on("ajax:complete", function(e, data, status, xhr) {
      var responce;
      responce = JSON.parse(JSON.parse(data.responseText));
      Application.showMessage(responce);
    });
    $('select[name="order_form[$userDecision]"]').change(function() {
      $('.hbw-button').attr('disabled', false);
      $('.hbw-button').val($(this).val());
    });
    $('.order_type-picker.right-element').change(function() {
      return $.ajax('new', {
        type: 'GET',
        dataType: 'html',
        data: {
          order_type_id: $('.order_type-picker.right-element').val(),
          partial_name: "new_form"
        },
        success: function(data, textStatus, jqXHR) {
          return $('.new_order').html(data);
        }
      });
    });
    Application.enableDateTimePicker(true);
    Application.enableOrderTypePicker(true);
  });