// import the CSS framework
@import 'hbw/variables'

main.container
  padding-bottom: 80px
  width: 100%
  margin-top: 51px // accommodate the navbar
  padding-left: 0
  padding-right: 0
.submit-edit-form-block
  input
    margin-right: 107px
  label
    margin-left: 36px!important
#new_order_form:not(.order_type_form)
  max-width: 320px
  margin: 0 auto
.pagination_2
  width: 100%
  text-align: center
#json_definition
  width: 100%
  height: 200px
.submit-new-form-block
  width: 100%
  border: 1px solid blue 
  border-radius: 6px
  .select2,.btn,.boolean
    display: inline-block
  .select2
    width: 50%!important
    margin-bottom: 15px !important
  .btn
    width: 45%!important
    margin-top: 8px!important
    margin-bottom: 8px!important
.authform
  padding-top: 30px
  max-width: 320px
  margin: 0 auto

  form
    padding-bottom: 40px

  .right
    float: right !important

#error_explanation
  color: $state-danger-text

  ul
    color: $state-danger-text
    margin: 0 0 30px 0

  &:empty
    display: none

  h2
    font-size: 16px

.attribute-row
  padding-top: .25em
  padding-bottom: .25em

  &:hover
    background-color: #f7f7f7

  .value
    display: inline-block
    margin-left: .4em

.orders-list
  tbody tr:hover
    background-color: #eee

.orders-filter
  .select2-selection__rendered
    width: 100%

  .label-padding-top
    padding-top: 26px

  .label-padding-left-0px
    padding-left: 0px

  .padding-right-0px
    padding-right: 0px

  [class^="col-"]
    margin-bottom: .3em

    .no-margin-bottom
      margin-bottom: 0

    .margin-top-10px
      margin-top: 10px

.orders-filter-container
  margin-bottom: 20px

  .tab-content
    padding-top: 20px
    padding-bottom: 20px

#hbw-tasks
  .hbw-sheet
    top: 60px

.greeting
  margin-top: 10%
  margin-bottom: 10% !important
  background-color: rgba(44, 62, 80, 0.3)

.greeting-text
  margin-top: 5% !important
  margin-bottom: 5% !important

.modal.in
  .modal-dialog
    position: initial

.btn-file input[type=file]
  max-width: 100%
  max-height: 100%

.logo
  a, &:hover
    font-size: 20px
    color: white !important
    text-decoration: none

  img
    width: 18px
    height: 18px
    display: inline
    margin: -20px 0 0 -5px

.growl-message
  white-space: pre-line