%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle(data-target=".navbar-collapse" data-toggle="collapse" type="button")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse
      %ul.nav.navbar-nav
        %li.logo
          = link_to list_orders_url  do
            = 'PCS'
            %img{src: image_path("logo.jpg")}
        - if $current_user
          %li
            = link_to orders_path do
              %span.glyphicon.glyphicon-list
              = t('.orders')
          - if admin?($current_user)
            %li
              = link_to admin_order_types_path do
                %span.glyphicon.glyphicon-cog
                = t('.setup_order_types')
            %li
              = link_to users_path do
                %span.fa.fa-users
                = t('.users')
      %ul.nav.navbar-nav.navbar-right
        - if $current_user
          %li.dropdown
            = link_to('#', class: 'dropdown-toggle', role: :button, 'data-toggle' => 'dropdown') do
              %span.fa.fa-user
              = $current_user['name']
              %span.caret
            %ul.dropdown-menu{role: :menu}
              %li
                = link_to "Process Cache", process_cache_orders_path

              - link_to_manual = Rails.application.config.app.fetch(:link_to_manual, '')
              - if link_to_manual.present?
                %li
                  %a(href="#{link_to_manual}")
                    %span.glyphicon.glyphicon-question-sign
                    = t('.help')
              %li
                = link_to :log_out, :method=>'delete' do
                  %span.glyphicon.glyphicon-log-out
                  = t('.sign_out')

          %li#hbw-tasks-list-button.hbw-styles
            %a.hbw-menu-button.my-items.fa.fa-reorder{:href => "javascript:;"}
              - if items = my_items
                %span.counter= items.count


- if $current_user and items
  #hbw-tasks
    %div
      .hbw-sheet.hbw-enabled.col-xs-12.col-sm-4.col-md-3.col-lg-2
        .hbw-sheet-header
          .hbw-sheet-header-container
            .hbw-sheet-header-title-container
              %em.hbw-sheet-header-title.my-task-title
                %b My Tasks
            %a.hbw-sheet-header-button.hbw-sheet-header-close-button
              .hbw-sheet-header-button-icon.hbw-sheet-header-close-button-icon
        .hbw-sheet-body
          %div
            %ul.hbw-task-item
            - items.each do |myitem|
              %li.hbw-inactive-task
                %span
                  = link_to myitem['id'], order_path(myitem['id'])
                  \ - #{myitem['taskName']} [#{myitem['processName']}]
