!!!
%html.hbw-styles
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : 'Homs'
    %meta{ name: 'description', content: "#{content_for?(:description) ? yield(:description) : 'Homs'}"}
    = stylesheet_link_tag 'hbw', media: 'all'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'hbw'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.hbw-select2
    :javascript
      I18n.locale = '#{I18n.locale}'
    %header
      = render 'layouts/navigation'
      = Rails.application.config.app.fetch(:announcement, '').to_s.html_safe

    %main.container(role="main")
      .container= yield

    - if flash_messages.any?
      :javascript
        console.log(#{flash_messages.to_json});
        Application.messenger.show(#{flash_messages.to_json});
    / - if hbw_available?
    /   #hbw-tasks
    /   :coffee
    /     window.HBWidget = new (modulejs.require('HBW'))(#{hbw_options.to_json})
